.editor__title{
    font-size: 54px;
    line-height: 54px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #635C73;
    margin-top: 120px;
    @media  (max-width: 1200px) {
        font-size: 42px;
        line-height: 42px;
     } 
     @media  (max-width: 768px) {
        font-size: 26px;
        line-height: 28px;
     } 
        
    }


.editor__subtitle{
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: #323232;
    margin-top: 35px;
    @media  (max-width: 1200px) {
        font-size: 42px;
        line-height: 42px;
        font-size: 21px;
        line-height: 32px;
     } 
     @media  (max-width: 768px) {
        font-size: 14px;
        line-height: 20px;
     } 
}
.editor__buttons{
    display: flex;
    justify-content: space-between;
    width: max-content;
    margin: 13px auto 70px auto;
    @media  (max-width: 568px) {
        flex-direction: column;
        
     } 
}
.editor__buttons-firsttwo{
    display: flex;
}
.btn__item{
    display: flex;
    align-items: center;
    margin-right: 10px;

}

.btn__item-leftcontent{
    border: 1px solid rgba(27,31,35,0.06);
    display: flex;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    line-height: 20px;
    padding: 3px 12px;
    box-sizing: border-box;
    background-color: rgba(27,31,35,0.06);
    font-family: 'Montserrat';
}
.btn__item-number{
    border: 1px solid rgba(27,31,35,0.06);;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    padding: 3px 12px;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    float: left;
    font-family: 'Montserrat';
}
.btn__item-text{
    margin-left: 4px;
}
.special__item{
    @media  (max-width: 568px) {
        margin: 20px auto;
     } 
    
}