.hereis__maindiv{
    display: flex; 
    flex-direction: column; 
    height: 600px; 
    flex-wrap: wrap;
    @media  (max-width: 1200px) {
        flex-wrap: nowrap;
        height: auto;
        
     }  
     @media  (max-width: 470px) {
       
        
     }  
}
.hereis__cardscontent{
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: max-content;
    height: 700px;
    margin-bottom: 50px;
    @media  (max-width: 1200px) {
       order: 2;
        width: auto;
       
    }  
    @media  (max-width: 768px) {
        margin-left: 35px;
        height: auto;
     }

     @media  (max-width: 480px) {
        margin-left: 20px;
        margin-right: 20px;
     }
    
}
.cards__item{
    display: flex;
    justify-content: space-between;
    @media  (max-width: 1200px) {
        justify-content: unset;
     }
     @media  (max-width: 480px) {
        
        flex-direction: column;
        align-items: center;
        margin-bottom: 38px;
     }    
}
.cards__item--text{
    width: 391px;
    @media  (max-width: 1200px) {
        margin-right: 80px;
        width: unset;
     }
     @media  (max-width: 480px) {
        margin-right: unset;
        width: unset;
     }
}
.cards__item--title{
    font-size: 16px;
    line-height: 21px;
    color: #323232;
    font-family: 'Montserrat';
    margin-bottom: 15px;

    @media  (max-width: 780px) {
        margin-top: 20px;
     }

    @media  (max-width: 480px) {
        line-height: 16px;
        text-align: center;
        
     }
    
}
.cards__item--description{
    font-size: 14px;
    line-height: 21px;
    color: #848E97;
    font-family: 'Montserrat';

    @media  (max-width: 480px) {
        text-align: center;
        
     }
    
}
.hereis__titilecontent--title{
    text-align: right;
    color: #8D81AC;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    font-family: "Montserrat";
    margin-left: 40px;
    margin-right: auto;
    width: max-content;
    @media  (max-width: 1200px) {
        order: 1;
        width:auto;
        text-align: center;
        
     }
     @media  (max-width: 768px) {
        order: 1;
        width:auto;
        text-align: center;
        
        margin-left: auto;
        font-size: 32px;
        line-height: 38px;
        
     }
     @media  (max-width: 475px) {
        
        margin-bottom: 30px;
        
        
     }
}

.hereis__titilecontent{
    display: block;
    margin-left: auto;
    margin-top: 5px;
    @media  (max-width: 1200px) {
        display:flex;
        order: 3;
     }
}
.hereis__titilecontent--img{
   width: 100%;
}
.cards__item--svg{
   
   display: flex;
   align-self: center;
   justify-self: center;
   
}
.test{
    min-width: 111px;
    display: flex;
    justify-content: center;
    margin-right: 23px;

    @media  (max-width: 470px) {
        margin-right: 0;
     }
}