@import "./reset.scss";
$main--color:#8D81AC;

* {
   box-sizing: border-box;
}

.container {
   max-width: 1220px;
   margin: 0 auto;
   padding: 0 10px;

}

.hide {
   display: none;
}

.header {
   width: 100%;
   position: relative;
   position: absolute;
   top: 0;
   z-index: 1000;

   @media screen and (max-width: 992px) {
      background-color: #27262A;
   }
}

.header-page {
   &__nav {
      display: flex;
      flex-wrap: wrap;
      padding: 40px 0;

      @media screen and (max-width: 992px) {
         padding: 40px 20px 20px 20px;
      }



   }

   &__logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-right: auto;


      p {
         font-family: 'Lato', sans-serif;
         font-weight: 700;
         font-size: 24px;
         line-height: 16px;
         text-transform: uppercase;
         color: $main--color;
         margin-left: 17px;
      }
   }

   &__menu {
      display: flex;
      align-items: center;
      margin-right: 47px;

      @media screen and (max-width: 992px) {
         order: 1;
         width: 100%;
         display: flex;
         justify-content: center;

         .menu__item {
            padding-top: 15px;
            text-align: center;
         }
      }


      .menu__link {
         text-decoration: none;
         font-family: 'Montserrat', sans-serif;
         font-weight: 700;
         font-size: 16px;
         line-height: 17px;
         color: $main--color;
         transition: all 0.3s ease;
         -webkit-transition: all 0.3s ease;
         -moz-transition: all 0.3s ease;
         -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;

         @media screen and (max-width: 768px) {}


         &:hover {
            color: #FFFFFF;
         }
      }

      .menu__item:not(:last-child) {
         margin-right: 47px;

         @media screen and (max-width: 768px) {
            margin-right: 34px;
         }
      }
   }
}


.hero {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   background: url("../img/hero.jpg") no-repeat center / cover;
   position: relative;
   padding-top: 186px;
   padding-bottom: 500px;

   &__title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 82px;
      line-height: 82px;
      color: #FFFFFF;
      margin-bottom: 19px;

      @media screen and (max-width: 992px) {
         font-size: 72px;
         line-height: 72px;
      }
   }

   &__subtitle {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 30px;
      line-height: 30px;
      color: $main--color;
      margin-bottom: 19px;
      text-align: center;

      @media screen and (max-width: 992px) {
         font-size: 24px;
         line-height: 24px;
      }
   }

   &__version {
      font-family: 'Montserrat', sans-serif;
      font-style: 400;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      color: $main--color;

      @media screen and (max-width: 992px) {
         font-size: 16px;
         line-height: 16px;
      }

   }




}

.button-cta {
   color: #FFFFFF;
   background-color: $main--color;
   border-radius: 40px;
   display: block;
   text-decoration: none;
   font-weight: 700;
   border: 2px solid $main--color;
   font-family: 'Montserrat';
   text-align: center;




   &:hover {
      font-family: Montserrat;
      background: #FFFFFF;
      border: 2px solid $main--color;
      border-radius: 40px;
      color: $main--color;
   }



}


.button-nav {
   padding: 11px 30px;

   @media (max-width: 992px) {
      order: 1;

   }
}

.button-hero {
   padding: 23px 60px;
   position: absolute;
   font-size: 21px;
   border: 2px solid $main--color;
   transition: all 0.2s ease;
   -webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   bottom: -30px;



   &::after {
      content: "Unlimited 30-Days Trial Period";
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      color: #848E97;
      display: block;
      position: absolute;
      bottom: -40px;
      text-align: center;
      width: 100%;
      left: 0;
   }


}

.testimonials {
   background: url("../img/testimonials-bg.jpg") no-repeat center / cover fixed;
   width: 100%;
   padding-top: 108px;
   padding-bottom: 50px;

   &__title {
      margin-bottom: 82px;
   }

   &__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      column-gap: 87px;
      row-gap: 116px;
      margin-bottom: 116px;

      @media screen and (max-width: 992px) {
         grid-template-columns: repeat(2, 1fr);
         row-gap: 58px;
         column-gap: 75px;
      }
   }

   &__item {
      text-align: center;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-height: 150px;
      width: 100%;


      @media screen and (max-width: 992px) {
         padding: 0 5px;
      }
   }

   &__icon {
      display: inline-block;
   }

   &__text {
      font-family: Lato;
      font-style: italic;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      text-align: center;
      margin-top: auto;

   }

   &__subtext {
      font-family: Lato;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #A291A5;
      position: relative;

      @media screen and (max-width: 992px) {
         padding: 0 10px;
      }



      &::after {
         position: relative;
         max-width: 780px;
         height: 2px;
         content: "";
         left: 50%;

         transform: translateX(-50%);
         display: block;
         bottom: -18px;
         text-align: center;
         background: #645766;
      }
   }
}


.title {
   font-family: Montserrat;
   font-weight: 700;
   font-size: 48px;
   line-height: 50px;
   text-align: center;
   color: #FFFFFF;

   @media (max-width: 992px) {
      font-size: 42px;
      line-height: 44px;

   }

}


.hamburger {
   display: none;
   cursor: pointer;
}

















.hamburger__line {
   width: 28px;
   height: 3px;
   background-color: #fff;
   margin: 5px 0;
   transition: 0.3s;
}

.hamburger__line:nth-child(1) {
   width: 16px;
   text-align: right;
   width: 16px;
   margin-left: auto;
}

.hamburger__line.change:nth-child(1) {
   transform: rotate(-45deg) translate(-4px, 3px);
   width: 28px;
   -webkit-transform: rotate(-45deg) translate(-4px, 3px);
   -moz-transform: rotate(-45deg) translate(-4px, 3px);
   -ms-transform: rotate(-45deg) translate(-4px, 3px);
   -o-transform: rotate(-45deg) translate(-4px, 3px);
}

.hamburger__line.change:nth-child(2) {
   opacity: 0;
}

.hamburger__line.change:nth-child(3) {
   transform: rotate(45deg) translate(-8px, -8px);
   -webkit-transform: rotate(45deg) translate(-8px, -8px);
   -moz-transform: rotate(45deg) translate(-8px, -8px);
   -ms-transform: rotate(45deg) translate(-8px, -8px);
   -o-transform: rotate(45deg) translate(-8px, -8px);
}



@media(max-width: 480px) and (min-width: 320px) {

   .header-page__logo p,
   .header-page__menu {
      display: none;
   }

   .hamburger {
      display: block;
      order: 2;
   }

   .hero {
      position: relative;
   }

   .header-page__menu.active {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
      background-color: #333;
      position: absolute;
      top: 100%;
      align-items: flex-start;


   }

   .header-page__menu.active .menu__link {

      font-family: Montserrat;
      font-weight: 400;
      font-size: 26px;
      line-height: 26px;
      color: #FFFFFF;
      padding: 20px 0;
      display: inline-block;
      padding-left: 35px;
      position: relative;


      &:focus,
      &:active {
         color: $main--color;

         &::before {
            content: "";
            width: 8px;
            height: 53px;
            left: 0px;
            top: 0px;
            display: block;
            background-color: $main--color;
            position: absolute;
         }
      }









   }

   .header-page__menu.active .menu__item {
      align-items: flex-start;
      border-bottom: 2px solid #3B3B3B;
      // width: 90%;
      // align-items: flex-start;
      width: 100%;
      text-align: left;
   }


   .button-nav {
      order: 1;
      margin: auto 0;
   }

   .header-page__nav {
      align-items: center;
      justify-content: space-between;
      display: flex;
      padding: 30px 15px;
   }

   .header-page__logo {
      margin-right: 0;
   }

   .hero {
      padding-bottom: 394px;

      &__title {
         font-size: 48px;
         line-height: 48px;
      }

      &__subtitle {
         font-size: 18px;
         line-height: 24px;
         font-family: Montserrat;
         text-transform: capitalize;
      }

      &__version {
         font-size: 14px;
      }
   }

   .button-hero {
      padding: 13px 29px;
      font-size: 18px;
   }

   .testimonials {
      &__container {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         margin-bottom: 36px;
      }

      &__item {
         min-height: 140px;
         padding: 0 20px;
      }

      &__title {
         margin-bottom: 53px;
      }
   }

   .title {
      font-size: 36px;
      line-height: 48px;
   }
}